<% if user_signed_in? %>
 <% if current_user.liked_post_by?(post.id) %>
   <td>
    <%= link_to destroy_like_post_path(post), method: :DELETE, remote: true do %>
    <div class="like-count">
      <span class="fa fa-heart like-btn"><%= post.like_posts.count %>
    </div>
    <% end %>
  </td>
 <% else %>
   <td>
    <%= link_to create_like_post_path(post), method: :POST, remote: true do %>
    <div class="like-count">
      <span class="fa fa-heart-o like-btn"><%= post.like_posts.count %>
    </div>
    <% end %>
  </td>
 <% end %>
<% end %>

