<%= render 'role/header' %>
<div class = 'theme-wrapper'>
  <div class = "theme-content">
    <p id = "theme-title">カラムチェック</p>
    <p id = "theme-detail">
      Webアプリケーション作成時や、スキルチェックの際の変数の命名に困った際は
      質問してみよう。<br>また、投稿されたカラムについて自分ならどう名付けるのかを
      コメントすることで仲間の助けになる！
    </p>
  </div>
</div>

<ul class='post-lists'>
  <% @posts.each do |post| %>
    <li class="list">
     <%# '#'にはカラムの詳細表示へ遷移するパスを記述してください %>
      <%= link_to '#' do %>
      <div class="column-info">
        <div class="column-title">
          <%= post.title %>
        </div>
        <div class="column-description">
          <%= post.description %>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>