<%= render 'role/header' %>
<div class = 'theme-wrapper'>
  <div class = "theme-content">
    <p id = "theme-title">カラムチェック</p>
    <p id = "theme-detail">
      Webアプリケーション作成時や、スキルチェックの際の変数の命名に困った際は
      質問してみよう。<br>また、投稿されたカラムについて自分ならどう名付けるのかを
      コメントすることで仲間の助けになる！
    </p>
  </div>
</div>

<div class="post-index">
  <ul class='post-lists'>
    <% @posts.each do |post| %>
      <li class="list">
        <%= link_to '#' do %>
        <div class="post-info">
          <%= post.title %>
          <%= post.description %>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>