<%= render 'role/header' %>
<div class="post-show">
  <div class="post-red-title">Column<span class="post-orange-title">Check</span></div>
  <div class="posts-box">
    <h2 class="post-name">
      <%= "#{@post.title}"%><span class="post-orange-name">に適切なカラム名をつけてください</span>
    </h2>
    <div class="post-explain-box">
      <span><%= @post.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-value"><%= @post.user.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
