

.post-show {
background-color: white;
width: 100vw;
display: flex;
flex-direction: column;
padding: 5vh 0;
}

.post-box {
  background-color: #FFF;
  width: 80vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.post-name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: red;
  width: 70%;
  margin: 0 auto;
}

.post-orange-name{
  color: #F96932;
  font-size: medium;
}

.post-explain-box {
  width: 70%;
  border: solid 1px black;
  border-radius: 4px;
  font-size: 18px;
  margin: 0 auto;
  overflow-wrap: anywhere;
  background-color:white;
}


.detail-table {
  width: 70%;
  margin-left: 15%;
  margin-right: 45%;
}

.detail-post {
  width: 20%;
  background-color: #f5a789;
  font-size: 14px;
  text-align: left;
}

.detail-value {
  width: 80%;
  padding: 10px;
  border: 1px solid gray;
  margin: 0 -1px 0 -1px;
  font-size: 20px;
}
/* コメント */
.comment-wrapper {
  margin: 0 auto;
  padding-top: 20px;
}

.comment-input{
  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  height: auto;
  min-height: 40px;
  width: 450px;
}

.comment-submit {
  display: block;
  margin: 20px auto;
  background-color: #F96932;
  border-radius: 4px;
  color: #fff;
  border: 0;
  font-size: 28px;
}

.comments {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.comment-show {
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #00DD00;
}

.comment-name {
  border-bottom: 1px solid #00DD00;
  padding-bottom: 8px;
  margin-bottom: 7px;
  font-size: 25px;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-text {
  padding-bottom: 7px;
  font-size: 30px;
  width: 80%;
}

/* コメント */
