.login-btn {
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-red-btn {
  width: 100%;
  background: #ffc230;
  border: 1px solid #ffc230;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
